#palavraSecreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 1.875rem;
}

.letras{
    width: 1rem;
    text-align: center;
    border-bottom: 2px solid var(--btn-color);
    color: var(--p-color);
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.letrasEspaco{
    width: 1rem;
    text-align: center;
    color: var(--p-color);
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}